body {
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("http://3.bp.blogspot.com/-efRmz5fMwDA/TqYVDo0WrcI/AAAAAAAAA_U/z4U9KETs6Gg/s1600/21Scioto+Trail+062.jpg");
    
}
body .welcome {
    text-align: center;
   }

.firstName {
    margin: 10px;
}

.lastName {
    margin: 10px;
}

.email {
    margin: 10px;
}

.nights {
    margin: 10px;
}